SERVER_PORT=
ENVIRONMENT=
LOG_LEVEL=
SECRET_KEY=
JWT_ISSUER=

CLOUDINARY_URL=

# Redis Credentials
REDIS_ADDRESS=
REDIS_PASSWORD=

# Database Credentials
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Database URL / Host (Use 'db' inside Docker, 'localhost' for local go run)
DB_HOST=
DATABASE_URL=
